{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    Or sign in with your facebook account, so you need not remember your password </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

            <div class="form-group {% if form.email.errors %} has-error{% endif %}">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    <input type="email" class="form-control" id="{{ form.email.id_for_label }}" value="{{ form.email.value|default_if_none:'' }}" placeholder="{{ form.email.label }}" name="{{ form.email.html_name }}">
                    {% for error in form.email.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    </div>

        <input type="submit" class="btn btn-success" value="{% trans 'Reset My Password' %}" />
    </form>
    <br>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
