{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="col-sm-3 col-xs-12 settings_pane">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Settings</h3>
            </div>
            <div class="list-group">


                <a href="{% url 'update_profile' %}" class="list-group-item ">Update Profile</a>
                <a href="{% url 'account_change_password' %}" class="list-group-item active">Change Password</a>

                <a href="{% url 'delete_account' %}" class="list-group-item">Delete Account</a>

            </div>
        </div>
    </div>
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change col-sm-8 col-xs-12">
        {% csrf_token %}
        {#    {% for error in form.errors %}#}
        {#        {{ error }}#}
        {#    {% endfor %}#}

        {#        {% for field in form %}#}
        {#{{ field.id_for_label }}#}
        {#{% endfor %}#}
        {#        {{ form.as_p }}#}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="password" class="form-control"
                       id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.html_name }}">
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
