{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
  <div class="row">
    <p><strong>

    28th February, 2016
        </strong>
    <br><br>
    Today, I finally decided to launch this website for the public. It should have been out 3 months ago, but I had
    some more important things at hand and also I had expected some website who was doing well would implement this,
    but they never did. So I decided to launch this website, hoping people would find fun and conversations in this website.
    <br><br>
    Thank you,
    <br>
    Siva
    </p>
  </div>
</div>


{% endblock content %}