
{% extends 'base.html' %}
{% block content %}
    <div class="rules">
<p>Please refrain from posting images thah have already been posted</p>


<p>We will delete a post if</p>

<ul>
    <li>It is contrary to public morals</li>
        <li>It contains obscene, offensive content</li>
        <li>Defamation of religions</li>
        <li>Targeting/mocking a person or group of people that is hurtful</li>
        <li>If is form of advertising</li>
        <li>If the image in the post is of poor quality</li>
 </ul>




<p>We will deactivate a user:</p>

<ul>
    <li>If the user posts against the rules</li>
    <li>If the user is spamming the website</li>
</ul>

</div>
{% endblock %}